.BaseSelectProblem #baseList{
    position : absolute;
    margin-left : 35%;
    margin-top:-2%;
    font-size :20px;
    width : 50%;
}

.BaseSelectProblem #baseList li{
    background-color: rgba(166, 104, 248, 0.534);
    border-radius:5px;
    color:white;
    padding:2%;
    margin:2%;
}
.BaseSelectProblem #baseList li:hover{
    background-color: rgba(166, 104, 248, 1);
}