.MapProblem #mapArea{
    border: 2px solid white;
    background-color:rgba(210, 176, 230, 0.651);
    border-radius:5px;
    width:40%;
    height:400px;
    margin-left:40%;
    margin-top:2%;
    
}